@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="ourqu是一个定位于社交的网站，是一个通过线上活动组织线下进行活动的社交网站。ourqu网站包含建立活动房间，宣传活动内容，会员充值等板块，是我们年轻人希望的新的社交类网站，用最好的内容最齐全的功能来服务于年轻人交友是我们ourqu网站的宗旨" />
    <meta name="keywords" content="金牌会员,交友,吃饭,看电影,美女,本地,020" />
    <meta name="author" content="" />
    <title>齐去网_登录</title>
    <link rel="stylesheet" href="@Url.Content("~/images/style.css")" />
    <link href="@Url.Content("~/Scripts/LigerUI/ligerUI/skins/Aqua/css/ligerui-dialog.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/LigerUI/ligerUI/skins/Gray/css/dialog.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/LigerUI/ligerUI/js/core/base.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/XJN.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/LigerUI/ligerUI/js/plugins/ligerDialog.js")"></script>
    <script type="text/javascript">
        $(function () {
            var ReUser = '@(OurQu.Helper.WebHelper.CookieHelper.GetCookieValue("RememberUser"))';
            var UserNameSession = '@(OurQu.Helper.WebHelper.SessionHelper.Get("Username"))';
            if (ReUser != "")
                $("input[name='reUsername']").trigger('click');
            if (UserNameSession != "") {
                xjn.showLoading("欢迎回来:" + UserNameSession + " 三秒后跳转");
                setInterval(function () {
                    window.location.href = "/Home/Index";
                }, 3000);
            }
        });

        function CheckLogin() {
            var Uname = $("input[name='Username']");
            var UnameTip = $("#UsernameTip");
            var Pwd = $("input[name='Pwd']");
            var PwdTip = $("#PwdTip");
            var Code = $("input[name='Code']");
            var CodeTip = $("#CodeTip");
            if (Uname.val() == "") {
                UnameTip.show();
                Uname.focus();
                return false;
            }
            else
                UnameTip.hide();

            if (Pwd.val() == "") {
                PwdTip.show();
                Pwd.focus();
                return false;
            }
            else
                PwdTip.hide();

            if (Code.val() == "") {
                CodeTip.show();
                Code.focus();
                return false;
            }
            else
                CodeTip.hide();

            xjn.ajax({
                url: "/Account/CheckUserStatus",
                data: {
                    Username: $("input[name='Username']").val(), Pwd: $("input[name='Pwd']").val(), Code: $("input[name='Code']").val()
                , UserStatus: $("input[name = 'reUsername']").val(), RemeberUsername: $("input[name='UserStatus']").val()
                },
                loading: "正在登录中...",
                success: function (Data, Message, IsError) {
                    xjn.showSuccess(Message + " 3秒后自动跳转！");
                    setInterval(function () {
                        window.location.href = "/Home/Index";
                    }, 3000);


                    //else {
                    //    xjn.showError(Message);
                    //    $('#YZMChange').trigger("click");
                    //    return false;
                    //}

                },
                error: function (msg) {
                    $('#YZMChange').trigger("click")
                    xjn.showError(msg);
                    $("input[name='Username']").val("");
                    $("input[name='Pwd']").val("")
                    $("input[name='Code']").val("");
                    return false;
                }
            });
        }
    </script>
</head>
<body>
    <div id="globalNavigation">
        <ul class="globalNavigationList">
            @helper LoginStatus()
{
    if (OurQu.Helper.WebHelper.CookieHelper.GetCookieValue("Username").Length > 0 || OurQu.Helper.WebHelper.SessionHelper.Get("Username") != null)
    {
                @Html.Raw("<li><a href='login.html'>提醒</a></li><li><a href='register.html'><span style='color:#FF0000'>" + OurQu.Helper.WebHelper.SessionHelper.Get("Username") + "</span></a></li><li><a href='" + Url.Content("~/Account/QuitLogin") + "'  onclick='return LoginQuit();'>退出登录</a></li>")
       

    }
    else
    {
                @Html.Raw("<li><a href='" + Url.Content("~/Account/") + "'>登陆</a></li><li><a  href='" + Url.Content("~/Account/Register") + "' >注册</a></li>")
               
    }
            }
            @LoginStatus()

        </ul>
    </div>
    <div id="navigation">
        <div class="navigationContainer">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.jpg" alt="logo" />
                </a>
            </div>
            <div class="chooseWhere">
                @*<a id="chooseWhereBtn">常州<img style="position: relative; top: -2px; left: 2px;" src="/images/icon-5.jpg" alt="" /></a>*@

            </div>
            <div class="navigationSearch">
                <input class="inputBox" type="text" /><input class="submitBox" type="submit" value="" />
            </div>
        </div>
    </div>
    <div id="content">
        <div class="contentLoginLeft">
            <form action="post">
                <div class="line1">
                    <label class="nameLabel">账号</label>
                    <input type="text" name="Username" value="@(OurQu.Helper.WebHelper.CookieHelper.GetCookieValue("RememberUser"))" />
                    <label id="UsernameTip" style="color: #FF0000; display: none;">账号不能为空</label>
                </div>
                <div class="line2">
                    <label class="nameLabel">密码</label>
                    <input type="password" name="Pwd" value="" />
                    <label id="PwdTip" style="color: #FF0000; display: none;">密码不能为空</label>
                </div>

                <div class="line2">
                    <label class="nameLabel">验证码</label>
                    <a style="cursor: pointer">
                        @*        <img src="/images/check.jpg" alt="" />*@
                        <img onclick="this.src=this.src+'#'" id="YZMChange" title="看不清楚？"  src="@Url.Content("~/Account/GetCheckCode")"alt="" />


                    </a>
                    <a style="text-decoration: none; line-height: 30px;" href="javascript:$('#YZMChange').trigger('click')">看不清楚，换张图。</a>
                    <br />
                    <input style="width: 80px; margin: 0 0 0 110px;" name="Code" type="text" />
                    <label class="nameLabel" id="CodeTip" style="color: #FF0000; display: none;">验证码不能为空</label>
                </div>
                <div class="line7" style="padding-top: 40px;">
                    <label class="nameLabel"></label>
                    <input type="checkbox" name="reUsername" value="0" onclick="this.value = '1';" />&nbsp;记住账号
						<input type="checkbox" name="UserStatus" value="0" onclick="this.value = '1';" />&nbsp;下次直接登陆
                </div>
                <div class="line6">
                    <input class="loginBtn" onclick="return CheckLogin();" type="button" value="登陆" />
                    <div class="clear"></div>
                </div>
            </form>
        </div>
        <div class="contentLoginRight">
            尚未注册？<br />
            <a class="loginRightBtn" href="~/Account/Register">免费注册</a>
        </div>
    </div>
    <div id="footer">
        <div class="footerList">
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">投资广告</a></li>
            <li><a href="#">RSS订阅</a></li>
            <li><a href="#"></a></li>

        </div>
        <div class="clear"></div>
        <div class="footerCopyright">
            <p>&copy;2012-2013&nbsp;ourqu.com,all right reserved.</p>
        </div>
    </div>
</body>
</html>
