@{
    Layout = null;
}
@using OurQu.Helper.PageHelper
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="ourqu是一个定位于社交的网站，是一个通过线上活动组织线下进行活动的社交网站。ourqu网站包含建立活动房间，宣传活动内容，会员充值等板块，是我们年轻人希望的新的社交类网站，用最好的内容最齐全的功能来服务于年轻人交友是我们ourqu网站的宗旨
" />
    <meta name="keywords" content="金牌会员,交友,吃饭,看电影,美女,本地,020	   
" />
    <meta name="author" content="" />
    <title>齐去网</title>
    <link rel="stylesheet" href="@Url.Content("~/images/style.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.js")"></script>
    <script type="text/javascript">
        function LoginQuit() {
            var aa = confirm("确认退出吗");
            return aa;
        }
        $(document).ready(function () {
            $('#chooseWhereBtn').bind('mouseover', function () {
                $('#chooseUl').slideDown('fast');
            }); $('#chooseUl').bind('mouseleave', function () {
                $('#chooseUl').slideUp('fast');
            });

            $('TypeClass').removeClass('AreaSelect').addClass('AreaCancle');

        });
    </script>
</head>
@helper SelectAllTypeContent(string A, string C)
{
   
    if (C == "分类")
    {
        if (A == null)
        {
    @Html.Raw("class='AreaSelect'")
        }

        if (A == "全部")
        {
    @Html.Raw("class='AreaSelect'")

        }
        else
        {
    @Html.Raw("class='AreaCancle'")
        }
    }
    if (C == "区域")
    {
        if (A == null)
        {
    @Html.Raw("class='AreaSelect'")
        }

        if (A == "全部")
        {
    @Html.Raw("class='AreaSelect'")
        }
        else
        {
    @Html.Raw("class='AreaCancle'")
        }
    }
            
}
@helper SelectTypeContent(string A, string B, string C)
{
    if (C == "分类")
    {
        if (A == B)
        {
    @Html.Raw("class='AreaSelect'")

        }
    }
    if (C == "区域")
    {
        if (A == B)
        {
    @Html.Raw("class='AreaSelect'")
        }
    }
            
}  @{
    string City = ViewBag.CityID;
    string Area = ViewBag.Area;
    string Class = ViewBag.Class;
    int CityID = City.DeleteSprit().ConvertToInt32();
    Class = Class.DeleteSprit();
    Area = Area.DeleteSprit();
}
<body>
   
    <div id="globalNavigation">
        <ul class="globalNavigationList">
            @helper LoginStatus()
{
    if (OurQu.Helper.WebHelper.CookieHelper.GetCookieValue("Username").Length > 0 || OurQu.Helper.WebHelper.SessionHelper.Get("Username") != null)
    {
                @Html.Raw("<li><a href='login.html'>提醒</a></li><li><a href='register.html'><span style='color:#FF0000'>" + OurQu.Helper.WebHelper.SessionHelper.Get("Username") + "</span></a></li><li><a href='" + Url.Content("~/Account/QuitLogin") + "'  onclick='return LoginQuit();'>退出登录</a></li>")
       

    }
    else
    {
                @Html.Raw("<li><a href='" + Url.Content("~/Account/") + "'>登陆</a></li><li><a  href='" + Url.Content("~/Account/Register") + "' >注册</a></li>")
               
    }
            }
            @LoginStatus()

        </ul>
    </div>
    <div id="navigation">
        <div class="navigationContainer">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.jpg" alt="logo" />
                </a>
            </div>
            <div class="chooseWhere">
                <a id="chooseWhereBtn">常州<img style="position: relative; top: -2px; left: 2px;" src="/images/icon-5.jpg" alt="" /></a>
                <ul style="display: none;" id="chooseUl">
                    @using (OurQu.BLL.CityService Data = new OurQu.BLL.CityService())
                    {
                        foreach (var item in Data.GetCities().Where(x => x.IsCheck.Equals(true) && x.ID != CityID))
                        {
                        <li><a href="~/Home/Index/@(item.ID)">@item.CityName</a></li>
                        }
                    }
                    @*<li><a href="#">北京</a></li>
                    <li><a href="#">上海</a></li>
                    <li><a href="#">广州</a></li>
                    <li><a href="#">深圳</a></li>
                    <li><a href="#">海南</a></li>
                    <li><a href="#">南京</a></li>*@
                    <li><a href="#">更多>></a></li>
                </ul>
            </div>
            <div class="navigationSearch">
                <input class="inputBox" type="text" /><input class="submitBox" type="submit" value="" />
            </div>
        </div>
    </div>
    <div id="fliter">
        <div class="fliterTop">
            <div class="fliterTopContainer">
                <div class="fliterLabel" style="border-bottom: 1px dotted #dbdbdb; height: 24px;">
                    <img src="/images/label-1.jpg" alt="label" />分类
                </div>
                <ul class="fliterContainerList-1">
                    <li class="item"><a  href="~/Home/Index@(ViewBag.CityID)/全部@(ViewBag.Area)" @SelectAllTypeContent(Class, "分类") ">全部</a></li>

                    @using (OurQu.BLL.CityService Data = new OurQu.BLL.CityService())
                    {
                        foreach (var item in Data.GetClass("分类", CityID, Class, Area))
                        {
                        <li class="item"><a href="~/Home/Index@(ViewBag.CityID)/@item.Content@ViewBag.Area" @SelectTypeContent(item.Content, Class, "分类") >@item.Content&nbsp;@item.Total</a></li>
                        }
                    }

                </ul>
                <div class="fliterLabel">
                    <img src="/images/label-2.jpg" alt="label" />区域
                </div>
                <ul class="fliterContainerList-2">
                    <li class="item"><a id="TypeArea" href="~/Home/Index@(ViewBag.CityID)@(ViewBag.Class)/全部"  @SelectAllTypeContent(Area, "区域")>全部</a></li>

                    @using (OurQu.BLL.CityService Data = new OurQu.BLL.CityService())
                    {
                        foreach (var item in Data.GetClass("区域", CityID, Class, Area))
                        {
                        <li class="item"><a href="~/Home/Index@(ViewBag.CityID)@(ViewBag.Class)/@item.Content" @SelectTypeContent(item.Content, Area, "区域") >@item.Content&nbsp;@item.Total</a></li>
                        }
                    }

                </ul>
            </div>
        </div>
        <div class="fliterBottom">
            <div class="fliterBottomBtn">
                <a href="#" style="background: #e8e8e8;" class="fliterBottomBtn-1">默认排序</a>
                <a href="#" class="fliterBottomBtn-2">销量&nbsp;<img src="/images/icon-1.gif" alt="" /></a>
                <a href="#" class="fliterBottomBtn-3">价格&nbsp;<img src="/images/icon-1.gif" alt="" /></a>
                <a href="#" class="fliterBottomBtn-4">价格&nbsp;<img src="/images/icon-2.gif" alt="" /></a>
                <a href="#" class="fliterBottomBtn-5">发布时间&nbsp;<img src="/images/icon-2.gif" alt="" /></a>
            </div>
            <a class="newRoom" href="/Details/CreatRoom@(ViewBag.CityID)">创建房间</a>
        </div>
    </div>
    <div id="content">
        <ul class="contentList">

            @using (OurQu.BLL.RoomService Data = new OurQu.BLL.RoomService())
            {
                var DataList = Data.GetRoomData(CityID, Class, Area);
                foreach (var item in DataList)
                {
                <li class="contentItem">
                    <a href="#">
                        <img src="@item.Pic" width="290" height="176" alt="item" /></a>
                    <a href="#">@item.RoomName</a>
                    <a href="#" style="color: #666;">参与人数: @item.Total</a>
                    <a class="contentItemBtn" href="~/Detail/RoomDetails/@(CityID)_@(Class)_@(Area)/@item.ID"></a>
                </li>
                }
            }

            @* <li class="contentItem">
                <a href="#">
                    <img src="/images/item-1.jpg" alt="item" /></a>
                <a href="#">房间名: 今天天气不错</a>
                <a href="#" style="color: #666;">参与人数: 1919</a>
                <a class="contentItemBtn" href="#"></a>
            </li>
            <li class="contentItem">
                <a href="#">
                    <img src="/images/item-1.jpg" alt="item" /></a>
                <a href="#">房间名: 今天天气不错</a>
                <a href="#" style="color: #666;">参与人数: 1919</a>
                <a class="contentItemBtn" href="#"></a>
            </li>
            <li class="contentItem">
                <a href="#">
                    <img src="/images/item-1.jpg" alt="item" /></a>
                <a href="#">房间名: 今天天气不错</a>
                <a href="#" style="color: #666;">参与人数: 1919</a>
                <a class="contentItemBtn" href="#"></a>
            </li>
            <li class="contentItem">
                <a href="#">
                    <img src="/images/item-1.jpg" alt="item" /></a>
                <a href="#">房间名: 今天天气不错</a>
                <a href="#" style="color: #666;">参与人数: 1919</a>
                <a class="contentItemBtn" href="#"></a>
            </li>
            <li class="contentItem">
                <a href="#">
                    <img src="/images/item-1.jpg" alt="item" /></a>
                <a href="#">房间名: 今天天气不错</a>
                <a href="#" style="color: #666;">参与人数: 1919</a>
                <a class="contentItemBtn" href="#"></a>
            </li>
            <li class="contentItem">
                <a href="#">
                    <img src="/images/item-1.jpg" alt="item" /></a>
                <a href="#">房间名: 今天天气不错</a>
                <a href="#" style="color: #666;">参与人数: 1919</a>
                <a class="contentItemBtn" href="#"></a>
            </li>
            <li class="contentItem">
                <a href="#">
                    <img src="/images/item-1.jpg" alt="item" /></a>
                <a href="#">房间名: 今天天气不错</a>
                <a href="#" style="color: #666;">参与人数: 1919</a>
                <a class="contentItemBtn" href="#"></a>
            </li>*@
        </ul>
        <div class="clear"></div>
    </div>

    <div id="footer">
        <div class="footerList">
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">投资广告</a></li>
            <li><a href="#">RSS订阅</a></li>
            <li><a href="#"></a></li>

        </div>
        <div class="clear"></div>
        <div class="footerCopyright">
            <p>&copy;2012-2013&nbsp;ourqu.com,all right reserved.</p>
        </div>
    </div>
</body>
</html>
