@model OurQu.ViewModel.ViewPage.RoomViewModel
@{
    Layout = null;
}

@using OurQu.Helper.PageHelper
@using OurQu.ViewModel.ViewPage
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="ourqu是一个定位于社交的网站，是一个通过线上活动组织线下进行活动的社交网站。ourqu网站包含建立活动房间，宣传活动内容，会员充值等板块，是我们年轻人希望的新的社交类网站，用最好的内容最齐全的功能来服务于年轻人交友是我们ourqu网站的宗旨" />
    <meta name="keywords" content="金牌会员,交友,吃饭,看电影,美女,本地,020" />
    <meta name="author" content="" />
    <title>齐去网_@(Model.RoomName)</title>
    <link rel="stylesheet" href="@Url.Content("~/images/style.css")" />
    <link href="@Url.Content("~/Scripts/LigerUI/ligerUI/skins/Aqua/css/ligerui-dialog.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/LigerUI/ligerUI/skins/Gray/css/dialog.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/LigerUI/ligerUI/js/core/base.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/XJN.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/LigerUI/ligerUI/js/plugins/ligerDialog.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#information").hide();
            LoadAlarm();
            $('#chooseWhereBtn').bind('mouseover', function () {
                $('#chooseUl').slideDown('fast');
            }); $('#chooseUl').bind('mouseleave', function () {
                $('#chooseUl').slideUp('fast');
            });

            $('TypeClass').removeClass('AreaSelect').addClass('AreaCancle')

            $(".clickOut").click(function () {
                $("#information").animate({ top: '-200px' });
            });

        });
    </script>
</head>
@helper SelectAllTypeContent(string A, string C)
{
   
    if (C == "分类")
    {
        if (A == null)
        {
    @Html.Raw("class='AreaSelect'")
        }

        if (A == "全部")
        {
    @Html.Raw("class='AreaSelect'")

        }
        else
        {
    @Html.Raw("class='AreaCancle'")
        }
    }
    if (C == "区域")
    {
        if (A == null)
        {
    @Html.Raw("class='AreaSelect'")
        }

        if (A == "全部")
        {
    @Html.Raw("class='AreaSelect'")
        }
        else
        {
    @Html.Raw("class='AreaCancle'")
        }
    }
            
}
@helper SelectTypeContent(string A, string B, string C)
{
    if (C == "分类")
    {
        if (A == B)
        {
    @Html.Raw("class='AreaSelect'")

        }
    }
    if (C == "区域")
    {
        if (A == B)
        {
    @Html.Raw("class='AreaSelect'")
        }
    }
            
}  @{
    string City = ViewBag.CityID;
    string Area = ViewBag.Area;
    string Class = ViewBag.Class;
    int CityID = City.DeleteSprit().ConvertToInt32();
    Class = Class.DeleteSprit();
    Area = Area.DeleteSprit();
}
@helper IsNullField(string str)
{
        if (str == null)
        {
    @Html.Raw("无")
        }
        else
        {
    @Html.Raw(str)
        }
}
</head>
	<body>
        <div id="information">
            <ul id="AlarmID">
                <li><a href="#">你有2条未读消息</a></li>
                <li><a href="#">提醒2</a></li>
            </ul>
            <a class="clickOut">关闭</a>
        </div>
        <div id="globalNavigation">
            <ul class="globalNavigationList">
                @helper LoginStatus()
{
    if (OurQu.Helper.WebHelper.CookieHelper.GetCookieValue("Username").Length > 0 || OurQu.Helper.WebHelper.SessionHelper.Get("Username") != null)
    {
                    @Html.Raw("<li><a href='login.html'>提醒</a></li><li><a href='register.html'><span style='color:#FF0000'>" + OurQu.Helper.WebHelper.SessionHelper.Get("Username") + "</span></a></li><li><a href='" + Url.Content("~/Account/QuitLogin") + "'  onclick='return LoginQuit();'>退出登录</a></li>")
                    

    }
    else
    {
                    @Html.Raw("<li><a href='" + Url.Content("~/Account/") + "'>登陆</a></li><li><a  href='" + Url.Content("~/Account/Register") + "' >注册</a></li>")
               
    }
                }
                @LoginStatus()

            </ul>
        </div>
        <div id="navigation">
            <div class="navigationContainer">
                <div class="logo">
                    <a href="/">
                        <img src="~/images/logo.jpg" alt="logo" />
                    </a>
                </div>
                <div class="chooseWhere">
                    <a id="chooseWhereBtn">常州<img style="position: relative; top: -2px; left: 2px;" src="~/images/icon-5.jpg" alt="" /></a>
                    <ul style="display: none;" id="chooseUl">
                        @using (OurQu.BLL.CityService Data = new OurQu.BLL.CityService())
                        {
                            foreach (var item in Data.GetCities().Where(x => x.IsCheck.Equals(true) && x.ID != CityID))
                            {
                            <li><a href="~/Home/Index/@(item.ID)">@item.CityName</a></li>
                            }
                        }
                        <li><a href="#">更多>></a></li>
                    </ul>
                </div>
                <div class="navigationSearch">
                    <input class="inputBox" type="text" /><input class="submitBox" type="submit" value="" />
                </div>
            </div>
        </div>
        <div id="fliter">
            <div class="fliterTop">
                <div class="fliterTopContainer">
                    <div class="fliterLabel" style="border-bottom: 1px dotted #dbdbdb; height: 24px;">
                        <img src="~/images/label-1.jpg" alt="label" />分类
                    </div>
                    <ul class="fliterContainerList-1">
                        <li class="item"><a  href="~/Home/Index@(ViewBag.CityID)/全部@(ViewBag.Area)" @SelectAllTypeContent(Class, "分类") ">全部</a></li>

                        @using (OurQu.BLL.CityService Data = new OurQu.BLL.CityService())
                        {
                            foreach (var item in Data.GetClass("分类", CityID, Class, Area))
                            {
                            <li class="item"><a href="~/Home/Index@(ViewBag.CityID)/@item.Content@ViewBag.Area" @SelectTypeContent(item.Content, Class, "分类") >@item.Content&nbsp;@item.Total</a></li>
                            }
                        }

                    </ul>
                    <div class="fliterLabel">
                        <img src="/images/label-2.jpg" alt="label" />区域
                    </div>
                    <ul class="fliterContainerList-2">
                        <li class="item"><a id="TypeArea" href="~/Home/Index@(ViewBag.CityID)@(ViewBag.Class)/全部"  @SelectAllTypeContent(Area, "区域")>全部</a></li>

                        @using (OurQu.BLL.CityService Data = new OurQu.BLL.CityService())
                        {
                            foreach (var item in Data.GetClass("区域", CityID, Class, Area))
                            {
                            <li class="item"><a href="~/Home/Index@(ViewBag.CityID)@(ViewBag.Class)/@item.Content" @SelectTypeContent(item.Content, Area, "区域") >@item.Content&nbsp;@item.Total</a></li>
                            }
                        }

                    </ul>
                </div>
            </div>
            <div class="fliterBottom">
                <p>热门活动：今天天气不错</p>
            </div>
        </div>
        <div id="contentTalk">
            <div class="contentTalkLeft">
                <div class="contentItem">
                    <a href="#">
                        <img src="@Model.Pic" width="290" height="176" alt="item" /></a>
                    <a href="#">@Model.RoomName</a>
                    <a href="#" style="color: #666;">参与人数:@Model.Total</a>
                    <!-- 加入和退出房间的按钮，默认显示加入 -->
                    <a class="joinTalk" onclick='return JoinRoom();' href="#"></a>
                    <a class="exitTalk" href="#"></a>
                </div>
                <div class="contentTalkLeftDetails">
                    <div class="contentTalkLeftDetailsTitle">
                        &nbsp;&nbsp;活动信息
                    </div>
                    <div class="contentTalkLeftDetailsContext">
                        @Model.Content
                    </div>
                </div>
                <div class="contentTalkLeftDetails">
                    <div class="contentTalkLeftDetailsTitle">
                        &nbsp;&nbsp;参与人员
                    </div>
                    <div class="contentTalkLeftDetailsContext">
                        <ul class="contentTalkLeftDertailsContextList">
                            @using (OurQu.BLL.RoomService Service = new OurQu.BLL.RoomService())
                            {
                                foreach (var item in (IEnumerable<UserViewModel>)Service.GetRoomUserList(ViewBag.ID))
                                {
                                <li class="liOne">
                                    <img src="@(item.HeadPic)" alt="user" /><span>@item.Username</span>
                                    <div class="informationP">
                                        <div class="informationPLeft">
                                            <a href="#">
                                                <img src="@(item.HeadPic)" alt="@(item.Nickname)" />
                                            </a>

                                        </div>
                                        <div class="informationPRight">
                                            <p>昵称:<span>@IsNullField(item.Nickname)</span></p>
                                            <p>QQ: <span>@IsNullField(item.qq)</span></p>
                                            <p>微信: <span>@IsNullField(item.wx)</span></p>
                                            <p>性别: <span>22</span></p>
                                            @*<p>职业: <span>@(item.)</span></p>*@
                                        </div>
                                    </div>

                                </li>
                                }
                            }

                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="contentTalkRight">
                <div class="contentTalkRightChat">
                    <div class="contentTalkRightChatTitle">
                        &nbsp;&nbsp;评论
                    </div>
                    <ul class="contentTalkRightChatList">
                        @using (OurQu.BLL.ReviewService Service = new OurQu.BLL.ReviewService())
                        {
                            foreach (var item in Service.GetRoomReview(ViewBag.ID))
                            {
                            <li class="chatList">
                                <div class="chatListLeft">
                                    <a href="#">
                                        <img src="@item.Pic" alt="@item.Username" /></a>
                                </div>
                                <div class="chatListRight">
                                    <div class="chatListRightLine-1">
                                        <span class="chatListRightLine-1Name"><a href="#">@item.Username</a></span>
                                        <span class="chatListRightLine-1Time">@item.Datetimes</span>
                                    </div>
                                    <div class="chatListRightLine-2">
                                        @*<p>&nbsp;&nbsp;<a href="#">#今天天气不错#</a>今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错今天天气不错</p>*@
                                        @item.Content
                                    </div>
                                </div>
                            </li>
                            }
                        }


                    </ul>
                </div>
                <div class="contentTalkRightJoin">
                    @helper ReviewCheck()
{
    if (OurQu.Helper.WebHelper.CookieHelper.GetCookieValue("Username").Length > 0 || OurQu.Helper.WebHelper.SessionHelper.Get("Username") != null)
    {
                        @Html.Raw("<div class='joinBox'><textarea id='Content' name='Content' cols='30' rows='10'></textarea></div><div class='joinBtn'><a class='contentItemBtn22' onclick='return ReviewAdd();' href='#'></a></div>")
    

    }
    else
    {
                        @Html.Raw("<div class='joinBox'>请先<a href='" + Url.Content("~/Account/") + "'>登录</a>，再加入房间</div><div class='joinBtn'></div>")
               
    }
                    }
                    @ReviewCheck()


                </div>

            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            <div class="footerList">
                <li><a href="#">关于我们</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">投资广告</a></li>
                <li><a href="#">RSS订阅</a></li>
                <li><a href="#"></a></li>

            </div>
            <div class="clear"></div>
            <div class="footerCopyright">
                <p>&copy;2012-2013&nbsp;ourqu.com,all right reserved.</p>
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    var root = '@(Url.Content("~/Details/"))';
    var UserNameSession = '@(OurQu.Helper.WebHelper.SessionHelper.Get("Username"))';
    function LoadAlarm() {
        $.ajax({
            url: root + 'GetIsRead',
            success: function (Data) {
                if (UserNameSession != "") {
                    var DataTotal = Data.length;
                    if (DataTotal > 0) {
                        $("#information").show();
                        $("#AlarmID").empty();
                        $("#AlarmID").append(" <li><a href='#'>你有 " + DataTotal + " 条未读信息！</a></li>")
                    }
                    else if (DataTotal == 0) {
                        $("#information").hide()
                    }
                }
                setTimeout("LoadAlarm()", 30000);

            }
        })
    }


    function JoinRoom() {
        if (UserNameSession == "") {
            xjn.showError("请先登录!");
            return false;
        }
        xjn.ajax({
            url: root + 'JoinRoom',
            data: {
                RoomID: '@(ViewBag.ID)'
            },
            loading: "正在提交中...",
            success: function (Data, Message, IsError) {
                xjn.showSuccess(Message);
            },
            error: function (msg) {
                xjn.showError(msg);
                return false;
            }
        });
}
function ReviewAdd() {
    xjn.ajax({
        url: root + 'ReviewAdd',
        data: {
            RoomID: '@(ViewBag.ID)',
            Content: $("#Content").val()
        },
        loading: "正在提交中...",
        success: function (Data, Message, IsError) {
            xjn.showSuccess(Message);
            $("#Content").val("");
            setTimeout(function () { window.location.reload(); }, 1500);

        },
        error: function (msg) {
            xjn.showError(msg);
            return false;
        }
    });
    }
    var jiathis_config = {
        summary: "",
        showClose: true,
        shortUrl: false,
        hideMore: false
    }
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?btn=r.gif&move=0" charset="utf-8"></script>
<!-- JiaThis Button END -->
